---
import Layout from '../layouts/Layout.astro';
import { actualiteList } from '../data/ouvrages';
import ActualiteCard from '../components/ActualiteCard.astro';
---

<Layout title="Gilbert Dufrane - Actualité">
  <main class="flex-grow-1">
    <section class="actualite-section">
      <div class="row g-5">
        {actualiteList.map((actualite) => (
          <ActualiteCard slug={actualite.slug} title={actualite.title} content={actualite.content} photoActualite={actualite.photoActualite}/>
        ))}
      </div>
    </section>
  </main>
</Layout>
