---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Gilbert Dufrane - A Propos">
  <main class="flex-grow-1">
    <!-- contenu de la page -->
	  <section class="about-section row align-items-start">
      <!-- Left column: Image -->
      <div class="col-12 col-md-5 text-center mb-4 mb-md-0">
        <img
            src="/images/portrait_square2.JPG"
            alt="Portrait de Gilbert Dufrane"
            class="about-image"
        />
      </div>
      <!-- Right column: Text content -->
      <div class="col-12 col-md-7">
        <h2 class="about-title mb-2">Un Mot de l'Auteur</h2>
        <hr class="section-divider align-items-center" />
        <p>
            Des études supérieures littéraires avec, au bout du parcours, un
            diplôme à l’Ecole Française des Attachés de Presse, me
            prédisposaient à une carrière dédiée à l’information. J’ai donc
            consacré ma vie professionnelle à la communication et fus amené à
            beaucoup, beaucoup, écrire : présentations, documentations,
            argumentaires... Plaire, convaincre, constituaient mon credo !
        </p>
        <p>
            L’amour que je porte au monde de l’image m’a également conduit à
            réserver à cette dernière une place importante dans mon travail. Le
            langage visuel représente un langage à part entière. Je l’ai
            beaucoup utilisé, ainsi que son prolongement naturel :
            l’audiovisuel. J’établissais des ponts entre les images et l’écrit.
            Ces deux univers visent un même but : faire partager sentiments et
            émotions. On peut dire autant de choses avec une seule image qu’avec
            un discours... sinon plus même. L’œil est sans doute le premier
            outil de l’homme. Bref ma vie professionnelle reliait les hommes
            entre eux.
        </p>
        <p>
            Alors quoi de plus normal, une fois cette carrière terminée, que
            l’écriture continue à remplir ma vie. Autrefois je mettais ma plume
            au service de mes clients afin de donner à leurs produits l’image la
            plus positive, aujourd’hui je mets cette plume au service de mon
            imagination. Et rien ne me plaît davantage que de me perdre dans des
            rêveries comme Jean Jacques Rousseau, le promeneur solitaire...
        </p>
        <p>
            Mais comme la retraite perrmet de s’investir, alors j’ai choisi
            d’animer les visites du château de Montrond les Bains et de son
            jardin d’inspiration médiévale... C’est une autre façon de raconter
            des histoires.
        </p>
        <p class="about-quote">
            Captiver le public reste une de mes plus grandes joies !
        </p>
      </div>
    </section>
  </main>
</Layout>
