---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Gilbert Dufrane - Auteur">
  <main class="flex-grow-1 d-flex flex-column p-0">
    <!-- contenu de la page -->
	<h1>Bienvenu</h1>
  </main>
</Layout>
