---
const { slug, title, content, photoActualite } = Astro.props;
---

<div class="col-12 col-lg-6 mb-4">
    <div class="actualite-card h-100">
        <h3>{title}</h3>
        <hr class="section-divider"/>
        <p>{content}</p>
        {photoActualite && (
            <img
                src={photoActualite}
                alt={title}
                class="img-actualite"
            /> 
        )} 
    </div>
</div>